# Dependencies
node_modules

# Output
.vscode
.output
.vercel
.netlify
.wrangler

# Environment files
.env
.env.*
!.env.example
!.env.test

# Deployment
*.zip
*.zip.sha1
*.zip.sha256
*.zip.sha512
*.zip.sha1.txt
*.zip.sha256.txt
*.zip.sha512.txt

# IIS and deployment
/iisnode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Production
web.config

# SvelteKit
/.svelte-kit
/build

# Build outputs
/.svelte-kit
/build
